.Modal {
  z-index: 500;
  position: fixed;
  background-color: white;
  width: 70%;
  border: 1px solid #ccc;
  box-shadow: 1px 1px 1px 1px black;
  padding: 16px;
  left: 15%;
  top: 30%;
  transition: all 0.5s ease-out;
}
